#Rcpp
useDynLib(Rfits, .registration=TRUE)

#import all
import("Rcpp")
import("bit64")
import("checkmate")
import("foreach")
import("doParallel")

#import functions

importFrom("utils", "object.size")
importFrom("graphics", "plot", "lines")
importFrom("magicaxis", "magimage")

#Rfits things
export(Rfits_read_all)
export(Rfits_write_all)
export(Rfits_read)
export(Rfits_write)
export(Rfits_make_list)
export(Rfits_gunzip)
export(Rfits_gunzip_clear)
export(Rfits_download)
export(Rfits_download_clear)
export(Rfits_create_RAMdisk)
export(Rfits_remove_RAMdisk)

export(Rfits_read_table)
export(Rfits_read_colnames)
export(Rfits_write_table)

export(Rfits_read_vector)
export(Rfits_read_image)
export(Rfits_read_cube)
export(Rfits_read_array)
export(Rfits_write_image)
export(Rfits_write_cube)
export(Rfits_write_array)
export(Rfits_write_vector)
export(Rfits_tdigest)
export(Rfits_create_image)
export(Rfits_write_pix)
export(Rfits_blank_image)
export(Rfits_check_image)
export(Rfits_crop)

export(Rfits_info)
export(Rfits_read_header)
export(Rfits_read_header_raw)
export(Rfits_write_header)
export(Rfits_header_to_hdr)
export(Rfits_hdr_to_keyvalues)
export(Rfits_header_to_keyvalues)
export(Rfits_keyvalues_to_hdr)
export(Rfits_keyvalues_to_header)
export(Rfits_header_to_raw)
export(Rfits_raw_to_header)
export(Rfits_raw_to_keyvalues)
export(Rfits_keyvalues_to_raw)
export(Rfits_header_zap)
export(Rfits_key_match)

export(Rfits_read_key)
export(Rfits_write_key)
export(Rfits_delete_key)
export(Rfits_write_comment)
export(Rfits_write_history)
export(Rfits_write_date)
export(Rfits_write_chksum)
export(Rfits_verify_chksum)
export(Rfits_get_chksum)
export(Rfits_encode_chksum)
export(Rfits_decode_chksum)
export(Rfits_nhdu)
export(Rfits_nkey)
export(Rfits_key_scan)
export(Rfits_extnames)
export(Rfits_extname_to_ext)

export(Rfits_read_all_hdf5)
export(Rfits_write_all_hdf5)
export(Rfits_read_hdf5)
export(Rfits_write_hdf5)

export(Rfits_read_table_hdf5)
export(Rfits_write_table_hdf5)

export(Rfits_read_vector_hdf5)
export(Rfits_read_image_hdf5)
export(Rfits_read_cube_hdf5)
export(Rfits_read_array_hdf5)
export(Rfits_write_vector_hdf5)
export(Rfits_write_image_hdf5)
export(Rfits_write_cube_hdf5)
export(Rfits_write_array_hdf5)

export(Rfits_length)
export(Rfits_dim)

export(centre)
export(center)
export(corners)
export(extremes)
export(pixscale)
export(pixarea)
export(rotation)

export(Rfits_centre)
export(Rfits_center)
export(Rfits_corners)
export(Rfits_pixscale)
export(Rfits_pixarea)
export(Rfits_rotation)

export(Rfits_point)
export(Rfits_point_hdf5)

S3method("[", Rfits_image)
S3method("[", Rfits_cube)
S3method("[", Rfits_array)
S3method("[", Rfits_vector)
S3method("[", Rfits_pointer)
S3method("[", Rfits_pointer_hdf5)

S3method("[<-", Rfits_pointer)

S3method("print", Rfits_image)
S3method("print", Rfits_cube)
S3method("print", Rfits_array)
S3method("print", Rfits_vector)
S3method("print", Rfits_pointer)
S3method("print", Rfits_header)
#S3method("print", Rfits_keylist)
S3method("print", Rfits_list)

S3method("length", Rfits_vector)
S3method("length", Rfits_image)
S3method("length", Rfits_cube)
S3method("length", Rfits_array)
S3method("length", Rfits_pointer)
S3method("length", Rfits_header)
#S3method("length", Rfits_keylist)

S3method("dim", Rfits_vector)
S3method("dim", Rfits_image)
S3method("dim", Rfits_cube)
S3method("dim", Rfits_array)
S3method("dim", Rfits_pointer)
S3method("dim", Rfits_header)
S3method("dim", Rfits_keylist)
S3method("dim", Rfits_pointer_hdf5)

S3method("plot", Rfits_image)
S3method("plot", Rfits_cube)
S3method("plot", Rfits_array)
S3method("plot", Rfits_vector)
S3method("lines", Rfits_vector)
S3method("plot", Rfits_pointer)

S3method("centre", Rfits_image)
S3method("center", Rfits_image)
S3method("centre", Rfits_pointer)
S3method("center", Rfits_pointer)
S3method("centre", Rfits_header)
S3method("center", Rfits_header)
S3method("centre", Rfits_keylist)
S3method("center", Rfits_keylist)

S3method("corners", Rfits_image)
S3method("corners", Rfits_pointer)
S3method("corners", Rfits_header)
S3method("corners", Rfits_keylist)

S3method("extremes", Rfits_image)
S3method("extremes", Rfits_pointer)
S3method("extremes", Rfits_header)
S3method("extremes", Rfits_keylist)

S3method("pixscale", Rfits_image)
S3method("pixscale", Rfits_pointer)
S3method("pixscale", Rfits_header)
S3method("pixscale", Rfits_keylist)

S3method("pixarea", Rfits_image)
S3method("pixarea", Rfits_pointer)
S3method("pixarea", Rfits_header)
S3method("pixarea", Rfits_keylist)

S3method("rotation", Rfits_image)
S3method("rotation", Rfits_pointer)
S3method("rotation", Rfits_header)
S3method("rotation", Rfits_keylist)

S3method("&", Rfits_image)
S3method("|", Rfits_image)
S3method("!=", Rfits_image)
S3method("==", Rfits_image)
S3method("<", Rfits_image)
S3method("<=", Rfits_image)
S3method(">", Rfits_image)
S3method(">=", Rfits_image)
S3method("+", Rfits_image)
S3method("-", Rfits_image)
S3method("*", Rfits_image)
S3method("/", Rfits_image)
S3method("^", Rfits_image)
S3method("%%", Rfits_image)
S3method("%*%", Rfits_image)
S3method("%/%", Rfits_image)

S3method("&", Rfits_pointer)
S3method("|", Rfits_pointer)
S3method("!=", Rfits_pointer)
S3method("==", Rfits_pointer)
S3method("<", Rfits_pointer)
S3method("<=", Rfits_pointer)
S3method(">", Rfits_pointer)
S3method(">=", Rfits_pointer)
S3method("+", Rfits_pointer)
S3method("-", Rfits_pointer)
S3method("*", Rfits_pointer)
S3method("/", Rfits_pointer)
S3method("^", Rfits_pointer)
S3method("%%", Rfits_pointer)
S3method("%*%", Rfits_pointer)
S3method("%/%", Rfits_pointer)
